<app-ug-opheader></app-ug-opheader>
<app-ughomenav></app-ughomenav>
<div style="margin: 15px;">
    <img src="assets/PORTAL HOME PAGE BANNER.jpg" alt="eGRADTutor Logo" width="100%" height="auto">
</div>
<div>
<h4 class="bg-dark text-center text-lg-start text-white" style="padding: 10px; margin: 0px 0px 5px 0px;">
    EXPPLORE ONLINE COURSES
</h4>
</div>
<div>
    <div class="card mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">TEST SERIES</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card text-center mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">RECORDED VIDEO LECTURES</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
      <div class="card text-end" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">PRACTICES QUESTION BANK</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
<app-ugopfooter></app-ugopfooter>