<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid">
    <footer class="bg-dark text-center text-lg-start text-white">
      <div class="container p-4">
        <div class="row mt-4">
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="logomaincolor">eGRADTutor</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Terms and Conditions</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Privacy policy</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Pricing & Refund Policy</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"></h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>+91-7993270532</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="fas fa-backspace fa-fw fa-sm me-2"></i>contactegradtutor.in</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact Us</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white">Corporate Office</a>
              </li>
              <li>
                <a href="#!" class="text-white">eGRADTutor(eGATETutor Academy)</a>
              </li>
              <li>
                <a href="#!" class="text-white">R.K Nivas,2nd Floor,Shivam Road,</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>New Nallakunta, Hyderabad - 500044</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">eGRADTutor All rights reserved</a>
      </div>
    </footer>
  </div>
