<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">HOME</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">COURSES</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">ONLINE TEST SERIES</a></li>
        <li><a class="dropdown-item" href="#">ONLINE RECORDED VIDO LECTURES</a></li>
        <li><a class="dropdown-item" href="#">PRACTICE QUESTION BANK</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">REGISTRATION GUIDE</a>
    </li> 
  </ul>